<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
</head>

<body>
<img src='/public/nudgeLogo.png'>
<div class='welcome'>Hey, PLACEHOLDER!</div>
<div class=''>
  <div>Your emergency contact is:</div>
  <div>PLACEHOLDER-name (PLACEHOLDER-email).</div>
</div>
<div>
  <div>Your Nudge is currently:</div>
  <div>PLACEHOLDER-online/offline</div>
</div>
<a href='...'>Edit</a>
</body>
</html>